@charset "UTF-08";
@margin: 0 ;

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
 }

header {
    color: white;
    text-align: center;
    background-color: black;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-top: 10px;
    padding-bottom: 50px;
}
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Tahoma, sans-serif;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.521);
    width: 400px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
